*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    justify-content:center;
    align-items:center;
    display:flex;
    height:100vh;
}
.box{
    background-color:rgb(120, 120, 169);
    width: 400px;
    height: 500px;
    color:white;
    padding:20px;
    margin:20px;
    border:1px solid rgb(53, 50, 50);
    border-radius:25px;
}
.box input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
}
.box input:hover{
    border: 2px solid pink;
}
.box button{
    background-color:red;
    color:white;
    padding:12px;
    margin-top:20px;
    border:none;
    font-weight:bold;
    font-size:18px;
    width:100%;
    border-radius:10px;
}
h1{
    font-size:30px;
    text-align:center;
}
p{
    font-size:18px;
    margin:20px;
    text-align:center;
    color:rgb(56, 56, 56);
}
p a{
    text-decoration:none;
}